---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "primary", size = "medium" } = Astro.props;

const linkStyling = "m-3 border-double p-1 active:bg-black hover:text-black duration-1000 cursor-progress hover:underline";

const variantClasses = {
  primary: "text-rose-900 hover:bg-rosa-900",
  secondary: "text-black hover:bg-blue-600",
  standard: "text-blue-400 hover:bg-yellow-500"
};

const sizeClasses = {
  standard: "text-2xl",  
  large: "text-xl font-bold",
  medium: "text-base font-semibold",
  small: "text-sm font-light",
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}>
  <slot />
</a>
